<div class="w-full  flex max-[564px]:flex-col justify-around items-center max-[584px]:mt-10 ">

  <div class="socialMedia  flex justify-center animate-pulse ">


    <a href="viber://contact?number=%+37368668297" class="viber"  >
   <img src="./assets/images/footer/socialMedia/v.png" class="h-10 w-1text-white" alt="">
    </a>


    <a href="https://m.facebook.com/profile.php?id=100090782952500" class="facebook " >
      <img src="./assets/images/footer/socialMedia/f.png" class="h-10 w-10 " alt="">


    </a>
    <a href="https://wa.me/c/37368668297" class="whatapp " >
      <img src="./assets/images/footer/socialMedia/w.png" class="h-10 w-10 " alt="">


    </a>


    <a href="https://t.me/videometadoc" class="telegram " >
      <img src="./assets/images/footer/socialMedia/t.png" class="h-10 w-10 " alt="">


    </a>


    <a href="https://www.instagram.com/videometadoc.md/" class="instagram " >
      <img src="./assets/images/footer/socialMedia/i.png" class="h-10 w-10 " alt="">


    </a>

    <a href="https://www.tiktok.com/@videometadoc" class="tiktok " >
      <img src="./assets/images/footer/socialMedia/ti.png" class="h-10 w-10 " alt="">


    </a>

  </div>

  <div class="logo ">
    <span class="animate-pulse	text-white	text-4xl font-bold ">Video<span class="text-orange-600">MetaDoc</span></span>


  </div>


</div>
<hr class=" bg-slate-900" style="width: 95%;">

<div class="contacts w-full flex max-[584px]:flex-col justify-around items-center max-[584px]:m-5 font-serif">

    <div class="email text-white flex flex-col items-center justify-between mt-3">
      <mat-icon> email</mat-icon>
      <span class="m-5">{{'footer.Email' | translate}}</span>
      <span >{{this.contacts.email}}</span>

    </div>

    <div class="phone text-white flex flex-col items-center justify-between mt-3">
      <mat-icon> phone</mat-icon>
      <span class="m-5">{{'footer.Contacts'| translate}}</span>
      <span >{{this.contacts.phone}}</span>
    </div>


    <div  class="location text-white flex flex-col items-center justify-between mt-3">
      <mat-icon> location_on</mat-icon>

      <span class="m-5">{{'footer.Location' |translate}}</span>

      <span>{{this.contacts.address}}</span>
    </div>

</div>
<hr class="w-10/12  bg-slate-900">

<div class="copyright  flex justify-center">
<p class="animate-pulse	 font-bold  text-white">&copy; 2023 Video<span class="text-orange-600">MetaDoc</span><span class="ml-3">{{'footer.All rights reserved'|translate}}</span></p>


</div>
