<div class="bg-black/95 w-full h-auto  text-white flex justify-evenly items-center
 font-serif" >




    <div class="navButtons flex justify-evenly items-center w-full			text-lg	flex-wrap ">
      <div class="brandTitle  	text-4xl h-20  flex justify-center items-center m-2 ">
<a href="/index"> <span class="animate-pulse	 font-bold ">Video<span class="text-orange-600">MetaDoc</span></span></a>

    </div>

      <div class="w-auto h-20  flex justify-center items-center m-2 ">
    <button class=" ease-in-out  hover:bg-orange-600 hover:text-black		duration-300 hover:p-3  " (click)="scrollTo('home')">{{'navBar.Home' |translate}}</button>

      </div>

      <div class="w-auto h-20  flex justify-center items-center m-2">

    <button class=" ease-in-out  hover:bg-orange-600	 hover:text-black	duration-300 hover:p-3 " (click)="scrollTo('about')">{{ 'navBar.About us' | translate }}</button>
  </div>


  <div class="w-auto h-20  flex justify-center items-center m-2">

    <button class=" ease-in-out  hover:bg-orange-600 hover:text-black	 duration-300	 hover:p-3 " (click)="scrollTo('services')">{{'navBar.Our Services' |translate}}</button>

  </div>
  <div class="w-auto h-20  flex justify-center items-center m-2">
    <button class=" ease-in-out  hover:bg-orange-600 hover:text-black	duration-300	 hover:p-3 " (click)="scrollTo('products')" >{{'navBar.Our Products'|translate}}</button>
  </div>



  <div class="w-auto h-20  flex justify-center items-center m-2">
    <button class=" ease-in-out  hover:bg-orange-600	duration-300 hover:text-black	 hover:p-3 " (click)="scrollTo('contacts')"> {{'navBar.Contacts'|translate}}</button>
  </div>

  <div class="select">

  <select class=" text-center bg-black hover:text-white cursor-pointer  font-serif  m-2 capitalize  "  [(ngModel)]="selectedLanguage" (change)="switchLanguage()">
<option *ngFor="let item of leanguageArray"  class="text-center capitalize  "  [value]="item.leanguage"  >{{item.leanguage === 'zh' ? 'Chi': item.leanguage  }}</option>

</select>

</div>
<!--
  <div class="w-auto h-20  flex justify-center items-center m-2">
    <button class=" ease-in-out  hover:bg-orange-600	duration-300 hover:text-black	 hover:p-3 ">Inregistrare </button>
  </div>

  <div class="w-auto h-20  flex justify-center items-center m-2">

    <button  class=" ease-in-out  hover:bg-orange-600		hover:text-black duration-300 hover:p-3 ">Autentificare </button>
  </div>

  <ng-container *ngIf="false" class="w-auto h-20  flex justify-center items-center m-2">
    <button  class=" ease-in-out  hover:bg-orange-600	hover:text-black 	duration-300 hover:p-3 " >Iesire</button>
  </ng-container> -->

    </div>


</div>
