
<div>
<span class="p-6 font-serif text-3xl "> Catalog </span>

</div>




<ng-container >
<!-- *ngIf="itemsQuantity!==0" -->



  <div class="cart-icon p-6 flex justify-center items-center fixed  z-30 right-1">

    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon [matBadge]="itemsQuantity" [matBadgeHidden]="!itemsQuantity" matBadgeColor="warn"
        class="">shopping_cart</mat-icon>

    </button>



    <mat-menu #menu="matMenu"  >

      <div id="viweCart" class=" flex justify-center items-center">


        <button  *ngIf="itemsQuantity!==0" (click)="toCart()"
          color="warn" class="m-2" mat-raised-button>{{'viwe Cart' |translate }}</button>
      <label [ngClass]="{'hidden font-bold' : itemsQuantity!==0}">{{'Cart is empty'|translate}}</label>
      </div>


      <ng-container class="" *ngIf="(cart$|async)?.items?.length">

        <div *ngFor="let item of (cart$|async)?.items" class="flex flex-col items-center">
          <div>
            <span> {{item.manufacturer}} x </span> <span> {{item.quantity}}</span>

          </div>

          <span class="font-bold  ">{{ item.price}} <span> lei </span></span>

        </div>


        <div class="flex flex-col items-center justify-between py-3 font-light ">

          <span class="font-bold text-xs p-1">Quantity of Porduses</span>
          <span class=" font-bold "> {{itemsQuantity}}</span>

          <span class="font-bold mt-1"> Total :</span>

          <span class="font-bold"> {{getTotalPrice(cart.items) }} <span> lei </span> </span>


        </div>

        <div class="pt-3 flex justify-around">
          <button (click)="onClearCart()" class="bg-rose-600 text-wihte rounded-full w-9 h-9">
            <mat-icon>remove_shopping_cart</mat-icon>

          </button>


          <button (click)="toCart()" class="bg-green-300 text-wihte rounded-full w-9 h-9">
            <mat-icon>shopping_cart</mat-icon>

          </button>

        </div>
      </ng-container>


    </mat-menu>



  </div>


</ng-container>
